*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --main-red: #E3646E;
  --main-purple: #BB72E9;
  --main-blue: #3996DB;
  --main-green: #82BC4F;
  --main-yellow: #EABD5F;
  --base-gray-100: #0D0E11;
  --base-gray-200: #16181D;
  --base-gray-300: #292C34;
  --base-gray-400: #878EA1;
  --base-gray-500: #C0C4CE;
  --base-gray-600: #E2E4E9;

  --font-family-1: "Asap", sans-serif;
  --font-family-2: "Inconsolata", monospace;
  --font-family-3: "Maven Pro", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-1);
  --title-md: 700 24px/120% var(--font-family-1);
  --title-sm: 700 16px/120% var(--font-family-1);
  --subtitle: 400 20px/120% var(--font-family-2);
  --text-md: 400 16px/140% var(--font-family-3);
  --text-sm: 400 14px/140% var(--font-family-3);
}

body {
  background: var(--base-gray-200);
  color: var(--base-gray-600);
  font: var(--text-md);
}

h1, h2, h3, p {
  font: inherit;
}